[submodule "pdt-django-web"]
	path = pdt-django-web
	url = https://github.com/marcelmaatkamp/pdt-django-web.git
[submodule "pdt-openxpki"]
	path = pdt-openxpki
	url = https://github.com/marcelmaatkamp/pdt-openxpki.git
[submodule "pdt-traefik"]
	path = pdt-traefik
	url = https://github.com/marcelmaatkamp/pdt-traefik.git
[submodule "pdt-dns"]
	path = pdt-dns
	url = https://github.com/marcelmaatkamp/pdt-dns.git
[submodule "pdt-graylog"]
	path = pdt-graylog
	url = https://github.com/marcelmaatkamp/pdt-graylog.git
[submodule "pdt-sentry"]
	path = pdt-sentry
	url = https://github.com/marcelmaatkamp/pdt-sentry.git
[submodule "pdt-ouroboros"]
	path = pdt-ouroboros
	url = https://github.com/marcelmaatkamp/pdt-ouroboros.git
[submodule "pdt-keycloak"]
	path = pdt-keycloak
	url = https://github.com/marcelmaatkamp/pdt-keycloak
[submodule "pdt-proxy"]
	path = pdt-proxy
	url = https://github.com/marcelmaatkamp/pdt-proxy.git
[submodule "pdt-adminer"]
	path = pdt-adminer
	url = https://github.com/marcelmaatkamp/pdt-adminer.git
